# Ignore environment files
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore logs
bot.log
*.log

#Ignore json
user_data.json
stocks.json
stocks_messages.json
leaderboard_messages.json
*.json

#ignore venv
venv/